<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

	<div class="container" style="margin-top: 50px;">
		<h1 class="well">User Details</h1>
		<div class="col-lg-12 well">
		<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-3 form-group">
									<label>First Name </label>
								</div>
								<div class="col-sm-9 form-group">
									<span> {{userInfo.firstName}}</span>
								</div>
							</div>	
							<div class="row">
								<div class="col-sm-3 form-group">
									<label>Last Name </label>
								</div>
								<div class="col-sm-9 form-group">
									<span> {{userInfo.lastName}}</span>
								</div>
							</div>				
							<div class="row">
								<div class="col-sm-3 form-group">
									<label>Address</label>
								</div>	
								<div class="col-sm-9 form-group">
									<span> {{userInfo.addressLine}}</span>
								</div>		
							</div>	
							<div class="row">
								<div class="col-sm-3 form-group">
									<label>City</label>
								</div>	
								<div class="col-sm-9 form-group">
									<span> {{userInfo.city}}</span>
								</div>			
							</div>	
							<div class="row">	
								<div class="col-sm-3 form-group">
									<label>State</label>
								</div>	
								<div class="col-sm-9 form-group">
									<span> {{userInfo.state}}</span>
								</div>	
							</div>	
							<div class="row">	
								<div class="col-sm-3 form-group">
									<label>Phone Number</label>
								</div>	
								<div class="col-sm-9 form-group">
									<span> {{userInfo.phone}}</span>
								</div>	
							</div>
							<div class="row">	
								<div class="col-sm-3 form-group">
									<label>Email Address</label>
								</div>	
								<div class="col-sm-9 form-group">
									<span> {{userInfo.email}}</span>
								</div>	
							</div>					
						</div>
					</div>
		</div>
		</div>