<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <br>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets/img/carinsurancelogo.jpg" alt="card image"></p>
                                    <h4 class="card-title">Car
                                        Insurance</h4>
                                    <p class="card-text">Car insurance that helps you 'take it easy'</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-exchange "></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Car
                                        Insurance</h4>
                                    <p class="card-text">Car insurance is of paramount importance to ensure you do not suffer financial losses if your car undergoes damage due to natural calamities, accidents or if you are an unfortunate victim of car theft. It is your shield against the many uncertainties your car can be subject to! </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets/img/healthinsuarancelogo.webp" alt="card image"></p>
                                    <h4 class="card-title">Health
                                        Insurance</h4>
                                    <p class="card-text">Health Insurance: Opt For A Healthy Future With Our Best Plans</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-exchange "></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Health Insurance</h4>
                                    <p class="card-text"> Health insurance plans not only equips you to tackle unexpected medical expenses, but it also helps you save tax up to Rs.1 lac** as per section 80 D of the Income Tax Act, 1961. So, this Healthy month pull up your socks and embrace lifestyle changes. Don't let your health take a back seat.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets/img/travelinsurance.jpg" alt="card image"></p>
                                    <h4 class="card-title">Travel
                                        Insurance</h4>
                                    <p class="card-text">Our Travel Insurance will assist you on your trip</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-exchange "></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Travel
                                        Insurance</h4>
                                    <p class="card-text">With the onset of lockdown guidelines, if you are planning to step out and travel abroad for unavoidable reasons make sure you have Travel Insurance. It is indeed your SafetyKaTicket, which will help you in tackling medical expenses arising due to COVID-19. Travelling during the pandemic calls for a lot of safety precautions, just like you wear a mask and sanitize your hands frequently similarly you need to have Travel Insurance plan with you to pay for medical expenses arising due to hospitalisation.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets/img/home-insurance-logo.jpg" alt="card image"></p>
                                    <h4 class="card-title">Home
                                        Insurance</h4>
                                    <p class="card-text">Your home is your soul.Why not protect this with home insurance</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-exchange "></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Home
                                        Insurance</h4>
                                    <p class="card-text">Home insurance offers coverage to a house and its content from unforeseen circumstances such as damages caused by natural calamities (earthquake, fire, flood, storm, landslide, etc.) and man-made activities (theft, burglary, terrorism, riot, etc.). Be it a damage or loss to your owned apartment, luxurious bungalow or a rented flat, a home insurance policy cover your home to ensure it always stands strong to give you the shelter and protection you need.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets/img/Bike-Insurance.jpg" alt="card image"></p>
                                    <h4 class="card-title">Bike
                                        Insurance</h4>
                                    <p class="card-text">Bike Insurance that redefines ‘Stress Free Driving’</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-exchange "></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Bike
                                        Insurance</h4>
                                    <p class="card-text">The joy of riding a bike is priceless! Keep this joy intact with two wheeler or bike insurance that over #1.5 Crore customers trust. And say goodbye to worries of fines, theft or damage to your loyal companion in daily commutes or leisurely highway rides. With our 7900+ cashless garages we assure you we’ve got your back whether you ride on green pastures or rocky terrains. So secure your bike and your peace of mind with a truly ‘Take it easy’ experience.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->


        </div>
    </div>
</section>
<!-- Team -->