<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
    <br>
    <br>
    <hr>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2">Enter Policy Details</h4>
                </header>
                <article class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="col form-group">
                                <label>Policy Name </label>
                                <input type="text" class="form-control" [(ngModel)]="policies.policyname" name="policyname" >
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row end.// -->
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="propertyType">Policy Type </label>
                                <select class="form-control" id="propertyType" name="policytype" [(ngModel)]="policies.policytype">
                                    <option [ngValue]="null">Select one...</option>
                                    <option *ngFor="let type of ePolicyType | keyvalue" [ngValue]="type.value">{{type.value}}</option>
                                </select>
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row end.// -->
                        <div class="form-group">
                            <label>Policy Duration (in years)</label>
                            <input type="text" class="form-control" [(ngModel)]="policies.policyduration" name="policyduration" >
                        </div> <!-- form-group end.// -->
                        <div class="form-group">
                            <label>Policy Amount</label>
                            <input class="form-control" type="number" [(ngModel)]="policies.policyamount" name="policyamount">
                        </div> <!-- form-group end.// -->
                        <div class="form-group">
                            <label>Description</label>
                            <input class="form-control" type="textarea" [(ngModel)]="policies.policydescription" name="policydescription">
                        </div> <!-- form-group end.// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" (click)="addPolicy()"> Add Policy </button>
                        </div> <!-- form-group// -->
                    </form>
                </article> <!-- card-body end .// -->
            </div> <!-- card.// -->
        </div> <!-- col.//-->

    </div> <!-- row.//-->


</div>
<!--container end.//-->

<br><br>